.skyblue {
  color: skyblue;
}

.yellow {
	color: yellow;
}

li{
	font-size: 32px;
}

.red{
	color: red;
}

span{
	font-size: 32px;
}

.green{
	color: green;
}

.white{
	color: white;
}

body{
	background-color: black;
}

.Fit-picture{
	width: 320px;
}